/*цвет основного текста #212121*/
/*цвет вторичного текста #757575*/
/*цвет текста акцент #2196F3*/
/*цвет текста активн #FFFFFF/
/*основной цвет фона #E5E5E5*/

:root {
    --primary-text-color: #21212;
    --main-text-color: #757575;
    --accent-text-color: #2196F3;
    --active-text-color: #FFFFFF;
}

body {    
    background-color: #FFFFFF;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
}

ul {
    list-style: none;
    cursor: pointer;  
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}    

.link:active {
    color: var(--accent-text-color);
}

/*шапка*/
/*логотип*/
.logo {
    color: var(--accent-text-color);

    font-family: Raleway, sans-serif;    
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: #000;
}

.logo-accent:hover,
.logo-accent:focus {
    color: var(--accent-text-color);
}

/*навигация + контакты*/

.nav .contact {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact {
    color: var(--main-text-color);
}

.nav a:hover, .nav a:focus {
    color: var(--accent-text-color);
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-text-color);
}

/*банер*/
.banner {
    background-color: #2F303A;
    color: #FFFFFF;

    text-align: center;
}
h1 {
    color: #FFFFFF;

    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.button {
    cursor: pointer;

    background-color: var(--active-text-color);
    color: #000;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
    color: var(--active-text-color);
    background-color: var(--accent-text-color);    
}

.port {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

 /*направления*/
.quality h3 {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.quality p {
    color: var(--main-text-color);

    font-family: Roboto, sans-serif;    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*сотрудники*/
.activity h2, .team h2 {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team h3 {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;    
    text-align: center;
    letter-spacing: 0.03em;
}

.team p {
    color: var(--main-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/*подвал*/
footer {
    background-color: #2F303A;    
}

.logo-accent-footer {
    color: #FFFFFF;
}

.logo-accent-footer:hover,
.logo-accent-footer:focus {
    color: var(--accent-text-color);
}

address {
    font-style: normal;
}

.addr, .phone-mail {
    color: #FFFFFF;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.phone-mail {
    color: rgba(255, 255, 255, 0.6);
}

footer a:hover,
footer a:focus {
    color: var(--accent-text-color);
}

/*портфолио*/
.work h3 {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work p {
    color: var(--main-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

